.opening {
  height: 100%;
  width: 100%;
  z-index: 12;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  box-shadow: 0 0 3px white,
  0 0 7px white,
  0 0 8px black,
  0 0 15px black,
  0 0 20px black;
  mix-blend-mode: multiply;
  animation: animation_screen 1s forwards;
  animation-delay: 10s;
}

.logo_opening {
  position: absolute;
  color: white;
  text-align: center;
}

.logo_opening h2 {
  color: white;
  width: 200px;
  border: 2px solid white;
  margin: 0;
  border-radius: 50px;
  animation: animation_screen 2s reverse;
}

.logo_opening h4 {
  width: 200px;
  margin: 0;
  opacity: 0;
  animation: animation_screen 2s reverse forwards;
  animation-delay: 2s;
}

.circle_opening {
  background-image:  white;
  height: 0vh;
  width: 0vh;
  animation: circle_expand 6s forwards;
  animation-delay: 5s;
}

@keyframes circle_expand {
  from {
    height: 0vh;
    width: 0vh;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes animation_screen {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}