body {
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}
/*------------------------------------*/
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    background: #ebeaea;
    background-size: cover;
    background-position: center;
    grid-template-columns: 0.75fr 3.5fr 0.75fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
      "header header header"
      "left-side content right-side"
      "footer footer footer";
}
/*------------------------------------*/

.light {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(52, 230, 52);
    box-shadow: 0 0 3px white,
    0 0 7px white,
    0 0 8px rgb(52, 230, 52),
    0 0 15px rgb(52, 230, 52),
    0 0 20px rgb(52, 230, 52);
    top: 50px;
    left: 90%;
    animation: light_up 2s;
}

@keyframes light_up {
    0% {
        background: rgb(8, 73, 8);
        box-shadow: none;
    }
}

/*------------------------------------*/

.header {
    display: flex;
    text-align: center;
    grid-area: header;
    width: 100%;
    position: relative;
}

/*------------------------------------*/

main {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background: rgb(36, 35, 35);
    margin: 2px;
    border-radius: 5%;
    color: white;
    grid-area: content;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 2px;
    height: 28px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h4 {
    width: 150px;
    border: 2px solid white;
    margin: 0;
    border-radius: 50px;
}

.content {
    background:  url("../images/FundoTela.png"), linear-gradient(rgb(126, 247, 247), rgb(192, 240, 240));
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
      "menu top"
      "menu description";
    margin: 30px;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    box-shadow: inset -1px -1px 2px 3px black;
}

.top-content {
    width: 100%;
    grid-area: top;
    display: flex;
    justify-content: space-between;
}

.count-skills {
    margin-top: 5px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}

.count-skills img {
    animation:  roll 2s infinite;
}

.language-selection {
    margin: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 5px solid red;
    background-image: url(https://www.gravatar.com/avatar/bbbd4d370977e2098e8349bfd0d7aa06);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-apresentation {
    grid-area: description;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.slides {
    scroll-behavior: smooth;
}

.menu {
    grid-area: menu;
    height: 90%;
    width: 100%;
    transition: color 1s cubic-bezier();
}

.menu-items {
    display: flex;
    height: 100%;
    width: calc(100% - 20px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px;
    padding: 0;
}

ul {
    list-style-type: none;
    color: white;
    text-shadow: 1px 1px black;
    display: block;
}

.menu-items li {
    text-align: start;
    padding: 8px;
}

.menu-items li a {
    text-decoration: none;
}

.selected-menu-item {
    cursor: pointer;
    animation: menu 1.5s infinite reverse;
    list-style: none;
    position: relative;
    padding-left: 20px;
    transition: opacity 1s ease-in;
}

.selected-menu-item:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url("../images/SetaMenu.png");
    background-size: cover;
    background-position: center;
    top: 50%;
    transform: translateY(-40%);
    right: -10%;
    animation: menu 2 infinite;
}

@keyframes menu {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

/*------------------------------------*/

.me-position {
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 2;
}

/*------------------------------------*/

#apresentation {
    height: 100%;
    width: 100%;
    position: relative;
}

#apresentation h1 {
    margin: 5px;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    text-shadow: 2px 2px black;
}

.apresentation-card {
    margin: 5px;
    position: absolute;
    height: 80%;
    width: 90%;
    bottom: 0;
}

.card-flex {
    height: 80px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
}

.apresentation-text {
    background: white;
    padding: 8px;
    border-radius: 10px;
    opacity: 0;
    border: solid 1px black;
    box-shadow: inset 0 0 3px 3px black;
    color: black;
    overflow:hidden;
    animation: ted 5s forwards;
    animation-delay: 6s
}

.apresentation-text p {
    margin: 0;
    padding: 0;
}

@keyframes ted {
    from {
        flex: 0;
    }
    to { 
        opacity: 1;
        flex: 1;
    }
}

/*------------------------------------*/

#knowledge {
    height: 100%;
    width: 100%;
    position: relative;
}

#knowledge h1 {
    margin: 5px;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    text-shadow: 2px 2px black;
}

.knowledge-bookcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
}

.teste {
    /* grid-column: 1/4;
    grid-row: 2; */
    background: url("../images/tijolo.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.knowledge-bookcase-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.tooltips {
    position: absolute;
    top: 40%;
    opacity: 0;
    z-index: -1;
    text-shadow: 2px 2px black;
}

.knowledge-bookcase-item img:hover{
    animation: roll 2s;
}

.knowledge-bookcase-item img:hover ~ .tooltips {
    top: 0;
    opacity: 1;
    transition: top 1s ease-in;
}

@keyframes roll {
    to {
        transform: rotateY(0deg);
    }

    from {
        transform: rotateY(720deg);
    }
}

#projects {
    height: 100%;
    width: 100%;
    position: relative;
}

#projects h1 {
    margin: 5px;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    text-shadow: 2px 2px black;
}

#projects p {
    margin: 5px;
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
}

#contacts {
    height: 100%;
    width: 100%;
    position: relative;
}

#contacts h1 {
    margin: 5px;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    text-shadow: 2px 2px black;
}

.my-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*------------------------------------*/

button {
    text-align: center;
    margin: auto;
}

.left-side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: left-side;
}

.left-buttons {
    width: 80%;
    height: 160px;
    position: relative;
}

.left-button {
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 15%;
    color: white;
    box-shadow: 1px 1px 0px 1px black;
 }

.left-button1 {
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
}

.left-button2 {
    position: absolute;
    top: 60px;
    right: 15px;
}

.left-button3 {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);
}

.left-button4 {
    position: absolute;
    top: 60px;
    left: 15px;
}

/*------------------------------------*/

.right-side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right-buttons {
    width: 100%;
    height: 160px;
    position: relative;
}

.right-button {
    border-radius: 50%;
    box-shadow: 1px 1px 0px 1px black;
    height: 40px;
    width: 40px;
    color: white;
 }

.right-button1 {
    background: red;
    position: absolute;
    top: 80px;
    left: 25%;
}

.right-button2 {
    background: red;
    position: absolute;
    top: 30px;
    right: 35px;
}
/*------------------------------------*/

.footer {
    display: flex;
    text-align: center;
    grid-area: footer;
}
/*------------------------------------*/