body {
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-transform: uppercase;
}
/*------------------------------------*/
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.75fr 3.5fr 0.75fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
      "header header header"
      "left-side content right-side"
      "footer footer footer";
}
/*------------------------------------*/

.header {
    display: flex;
    text-align: center;
    grid-area: header;
    width: 100%;
    position: relative;
    background: rgb(140, 32, 202);
}

.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 5%;
    border-radius: 50%;
    border: 5px solid red;
    background-image: url(https://www.gravatar.com/avatar/bbbd4d370977e2098e8349bfd0d7aa06);
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------------------*/

.content {
    display: flex;
    grid-area: content;
    border: 20px solid black;
    background: rgb(45, 243, 243);
    margin: 1px;
    border-radius: 5px;
    color: white;
}

.my-apresentation {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slides {
    scroll-behavior: smooth;
}

.toolbar {
    height: 100%;
    width: 100%;
}

.toolbar-items {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px;
    padding: 0;
}

ul {
    list-style-type: none;
    display: block;
}

.toolbar-items li {
    text-align: start;
    padding: 10px;
}

/* .toolbar-items li::before {

} */

.toolbar-items li a {
    text-decoration: none;
    color: white;
}

.toolbar-items li:hover {
    cursor: pointer;
    animation: menu 1.5s infinite reverse;
}

@keyframes menu {
    to {
        background: black ;
    }
    from {
        background: none;
    }
}

.toolbar-items li a:hover {
    color: white;
}

#apresentation {
    height: 100%;
    width: 100%;
    position: relative;
}

#knowledge {
    height: 100%;
    width: 100%;
    position: relative;
}

#projects {
    height: 100%;
    width: 100%;
    position: relative;
}

/*------------------------------------*/

button {
    text-align: center;
    margin: auto;
}

.left-side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: left-side;
    background: rgb(140, 32, 202);
}

.left-buttons {
    width: 100%;
    height: 160px;
    position: relative;
}

.left-button {
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 15%;
    color: white;
    /* border: 5px solid; */
 }

.left-button1 {
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
}

.left-button2 {
    position: absolute;
    top: 60px;
    right: 15px;
}

.left-button3 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
}

.left-button4 {
    position: absolute;
    top: 60px;
    left: 15px;
}

/*------------------------------------*/

.right-side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(140, 32, 202);
}

.right-buttons {
    width: 100%;
    height: 160px;
    position: relative;
}

.right-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    /* border: 5px solid; */
    border-color: black, black, white;
 }

.right-button1 {
    position: absolute;
    top: 80px;
    left: 25%;
}

.right-button2 {
    position: absolute;
    top: 40px;
    right: 15px;
}
/*------------------------------------*/

.footer {
    display: flex;
    text-align: center;
    grid-area: footer;
    background: rgb(140, 32, 202);
}
/*------------------------------------*/